<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Spam Bot Detection</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
<style>
body {
  background-image: url("{{ url_for('static', filename='images/back.jpg') }}");
}
</style>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h2><span><center><br/><font size="4" color="white">An Attention-Based Graph Neural Network for Spam Bot Detection in Social Networks
</font>
</center></span></h2>
		
	</div>
	<div id="menu">
		<ul id="main">
			<li class="current_page_item"><a href="Predict"><font size="4" color="white">Spam Bot Prediction</a></li><td></td>
			<li><a href="index"><font size="4" color="white">Logout</a></li><td></td>
			<td></td>		
     
		</ul>
		
	</div>
	
</div>
<div id="wrapper">
	<!-- start page -->
	<div id="page">
		
		<!-- start content -->
		<div id="content">
			<div class="flower"><img src="{{ url_for('static', filename='images/tra.jpg') }}" alt="" width="500" height="200" /></center></div>
			<br/><br/>

			<center><font face="verdana" color="black"> {{ msg|safe}} </center></font>
		
		<center>
		
			<table align="center">
			<tr>
			<h3>
			</p></h3>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
					
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
</body>
</html>


